* {
    box-sizing: border-box;
  }
  
  .topo {
    background-color: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 92px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    padding-left: 21px;
  }
  
  .container {
    background-color: #eeeeee;
    width: 100%;
    padding-left: 19px;
    padding-top: 122px;
    position: absolute;
  }
  
  .titulo {
    width: 100%;
    font-family: "Righteous", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-bottom: 17px;
  }
  
  .pratos {
    width: 100%;
    height: 216px;
    display: flex;
    margin-bottom: 27px;
    overflow: scroll;
  }
  
  .bebidas {
    width: 100%;
    height: 216px;
    display: flex;
    margin-bottom: 27px;
    overflow: scroll;
  }
  
  .sobremesas {
    width: 100%;
    height: 216px;
    display: flex;
    overflow: scroll;
    margin-bottom: 108px;
  }
  
  .opcao {
    width: 172px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 18px 14px;
    cursor: pointer;
    margin-right: 16px;
  }
  
  .nome-opcao {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
    text-align: center;
  }
  
  .descricao-opcao {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #a6a6a6;
    margin-top: 4px;
    height: 35px;
  }

 
.dinheiro{
  font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 2px;
}

  .valor-opcao {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 30px;
    width: 80px;
  }
  
  .flex {
    display: inline-flex;
    height: 20px;
  }
  
  .flex img {
    margin-top: 3px;
  }
  
  .titulo-topo {
    font-family: "Righteous", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #ffffff;
  }
  
  .descricao-topo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }
  
  .barra-inferior {
    position: fixed;
    width: 100%;
    height: 92px;
    left: 0px;
    bottom: 0px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .finalizar {
    width: 364px;
    height: 61px;
    background: #cbcbcb;
    border-radius: 50px;
    border: thin;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #ffffff;
    cursor: pointer;
  }
  
  .opcao-selecionada {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 0px 4px #32b72f;
  }
  
  .oculto {
    display: none;
  }
  
  .visivel {
    display: initial;
  }
  
  .fundo-verde{
    background-color: #32B72F;
  }

  .tela-final{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
   
  }

  .alinhamento-final{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quadro-final{
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 377px;
    height: 351px;
    z-index: 3;
  }

 
  .titulo-quadro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 21px;
    margin-bottom: 28px;
  }

  .escolha1{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  .preco1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    right: 25px;
    top: 196px;
  }

  .escolha2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  .preco2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  .escolha3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  .preco3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  .total{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  .preco-total{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  .botao-final{
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #50D074;
    border-radius: 100px;
    border: thin;
    width: 333px;
    height: 52px;
  }

  .cancelar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    width: 100%;
    height: 52px;
    
  }

  .linha1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    margin-left: 26px;
    margin-right: 25px;
  }

  .linha2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    margin-left: 26px;
    margin-right: 25px;
  }

  .linha3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    margin-left: 26px;
    margin-right: 25px;
  }

  .linha4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-left: 26px;
    margin-right: 25px;
  }

  .div-botao{
    display: flex;
    justify-content: center;
  }

  .pointer{
    cursor: pointer;
  }